@use 'src/styles/vars'as v;

.new-company {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  width: inherit;

  // padding: v.$gutter;
  &__field {
    margin: .2rem 0;
    padding: .5rem;
    width: 100%;
    font-size: .9em;
  }

  &__submit {
    margin-top: v.$gutter;
    width: 100%;
    padding: .5rem;
  }

  &__cancel {
    // border
    margin-top: v.$gutter;
    display: inline-flex;
  }

  & .register__title {
    flex-basis: 100%;
    padding: 1rem 0;
    margin-top: v.$gutter;
    font-size: 1.5em;

    &.--short {
      flex-basis: initial;
      display: inline-flex;
      margin-right: 1rem;
      //  align-self: flex-start;
      //  width: 50%;
    }

    &~.new-company__cancel {
      display: inline-block;
      margin-right: auto;
      padding: .5rem;
      align-self: center;
    }
  }
}
