@use 'src/styles/vars' as v;

.settings-infos{
  position: relative;
  width: 100%;
  &__content{
    color: gray;
    padding: v.$gutter;
    &-company{
      padding: calc(v.$gutter/2) 0;
      font-weight: bold;
      p{
        padding-top: 0.5rem;
        color: v.$color-dark;
        font-weight: normal;
      }
    }
  }
  &__edit{
    position: absolute;
    font-size: 1.5rem;
    top: -2rem;
    right: 0;
    color: v.$color-button;
    background-color: transparent;
    border: none;
  }
}


